/* Reset */
*{  
    color: white;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'League Spartan', sans-serif;
  }


/* Style Formulaire */

.container{
    display: flex;
    position: relative;
    top: 45vh;
    left: 50%;
    width: 150vh;
    height: 80vh;
    padding: 0px 0px 0px 40 px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    outline: none;
}

.h1-left{
    font-size: 2em;
    position: relative;
    left: 5vh;
}

.left{
    padding: 40px;
    width: 75vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    outline: none;
}

.contact{
    position: relative;
    top: 3em
}

.identite{
    display: flex;
    justify-content: space-between;
}

.container .contact select{
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    text-decoration: none;
    background: transparent;
}

.container .contact .nom input{
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    background: transparent;
}

.container .contact .prenom input{
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    background: transparent;
}

.container .contact .email input {
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    background: transparent;
}

.container .contact .phone input {
    width: 50%;
    padding: 10px 0px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    background: transparent;
}  

.container .contact .message textarea{
    resize: none;
    background: transparent;
    font-size: 16px;
    box-sizing: border-box;
    border: 3px white solid;
    border-radius: 4px;
    padding: 10px;
}  

.container .contact label {
    position: relative;
    bottom:3.5em;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }

  .container .contact .phone label {
    position: relative;
    bottom:3.5em;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }


.container .contact .btn-contact input {
    position: relative;
    background: transparent;
    left: 40%;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: none;
    margin-top: 0.7em;
  }


/* Animation */
.container .contact .btn-contact input:hover {
background: #03e9f4;
border: none;
color: #fff;
border-radius: 5px;
box-shadow: 0 0 5px #03e9f4,
            0 0 25px #03e9f4,
            0 0 50px #03e9f4,
            0 0 100px #03e9f4;
}



.container .contact input:focus ~ label,
.container .contact input:valid ~ label {
    top: -7em;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}


/* Right Style */
.right {
    flex: 1;
    background-color: black;
    background-image: url(Sources/Miles_Morales.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px 10px 10px 0px;
}